[submodule "premake"]
	path = premake
	url = https://github.com/d-led/premake-meta-cpp.git
[submodule "deps/crow"]
	path = deps/crow
	url = https://github.com/ipkn/crow.git
[submodule "deps/g3log"]
	path = deps/g3log
	url = https://github.com/KjellKod/g3log.git
[submodule "deps/g3sinks"]
	path = deps/g3sinks
	url = https://github.com/KjellKod/g3sinks.git
[submodule "deps/cppzmq"]
	path = deps/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "deps/mstch"]
	path = deps/mstch
	url = https://github.com/no1msd/mstch.git
[submodule "deps/mini-async-log"]
	path = deps/mini-async-log
	url = https://github.com/RafaGago/mini-async-log.git
